
<div class="row" id = infocards>


        <div class = "col s3">
           <div class="card panel" id="infocard">
               <div id = "subject">
                   <p>Total Users</p>
               </div>
               <div id="details">
                   <h4><%=numOfUsers%></h4>
               </div>
               <div class="card-chart">
                   <%- include('../../common/charts/flush-area-chart-blue.ejs', {data: dailyNewUsers}) %>
               </div>
           </div>
        </div>
        <div class = "col s3">
            <div class="card panel" id="infocard">
                <div id = "subject">
                    <p>Total Parking Lots</p>
                </div>
                <div id="details">
                    <h4><%=numOfLots%></h4>
                </div>
                <div class="card-chart">
                    <%- include('../../common/charts/flush-area-chart-green.ejs', {data: monthlyNewLots}) %>
                </div>
            </div>
        </div>
        <div class = "col s3">
            <div class="card panel" id="infocard">
                <div id = "subject">
                    <p>Total Reservations</p>
                </div>
                <div id="details">
                    <h4><%=numOfReservations%></h4>
                </div>
                <div class="card-chart">
                    <%- include('../../common/charts/flush-area-chart-pink.ejs', {data: dailyNewReservations}) %>
                </div>
            </div>
        </div>
        <div class = "col s3">
            <div class="card panel" id="infocard">
                <div id = "subject">
                    <p>Total Notifications</p>
                </div>
                <div id="details">
                    <h4><%=numOfNotficationRequests%></h4>
                </div>
                <div class="card-chart">
                    <%- include('../../common/charts/flush-area-chart-yellow.ejs', {data: dailyNewNotificationRequests}) %>
                </div>
            </div>
        </div>
    </div>






<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="/stylesheets/dashboard_style.css" rel="stylesheet" type="text/css"/>
