<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>El Fernando Parking - Spot #234</title>
</head>
<body>
<div class="container" >
    <%- include("../../component/sideBar.ejs") %>
    <%- include("../../component/ticketDetail/spotTitle.ejs", {title: "El Fernando Parking - Spot #234"}) %>
    <%- include("../../component/ticketDetail/ticketDetail.ejs") %>
    <%- include("../../component/ticketDetail/assignInspector.ejs") %>
    <%- include("../../component/ticketDetail/closeTicket.ejs") %>

</div>
</body>
</html>
