<!DOCTYPE html>
<head>
    <title><%= title %></title>
    <%- include('../../common/topScripts.ejs') %>
    <%- include('../../common/bottomScripts.ejs') %>
    <link href="/stylesheets/dashboard_style.css" rel="stylesheet" type="text/css"/>
</head>
<body class="has-fixed-sidenav">
    <header>
        <%- include('../../component/topBar.ejs', {title})%>
        <%- include("../../component/sideBar.ejs") %>
    </header>
    <main>
        <div class="container">
            <% if (sensorType === 'SINGLE_SPACE_WITH_CAM') { %>
                <%- include("../../component/parkingLots/spotsTableCard.ejs") %>
            <% } else { %>
                <%- include("../../component/parkingLots/spotsWithoutCamTableCard.ejs") %>
            <% } %>
        </div>
    </main>

</body>
</html>
