<!DOCTYPE html>

<head>
    <title><%= title %> </title>
    <%- include('../../common/topScripts.ejs') %>
    <%- include('../../common/bottomScripts.ejs') %>
</head>

<body class="has-fixed-sidenav">
    <header>
        <%- include('../../component/topBar.ejs', {title})%>
        <%- include("../../component/sideBar.ejs") %>
    </header>
    <main>
        <div class="container" >
            <%- include("../../component/parkingLots/parkingLotsTableCard.ejs") %>
        </div>
    </main>
</body>

</html>
