<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
</head>
<body>
<div class="container">

    <%- include("../../component/sideBar.ejs") %>
    <%- include("../../component/pageTitle.ejs")%>
    <%- include("../../component/dashboard/smallInfoCard")%>
    <%- include("../../component/dashboard/todayTrend")%>
    <%- include("../../component/dashboard/unresolvedDefectTiket")%>


</div>

</body>
</html>
