<div class="row">
    <div class="card material-table col s12" id="card-div">
        <div class="card-content row">
            <div id="table-header" class="col s10"><p>Parking Lots</p></div>
            <div class="col s1"><i class="tiny material-icons">sort</i><span id="sort-txt">Sort</span></div>
            <div class="col s1"><i class="tiny material-icons">filter_list</i><span id="sort-txt">Filter</span></div>
            <table class="highlight" id="datatable">
                <thead>
                    <th>Parking Lot</th>
                    <th>Number of Spots</th>
                    <th>Customer name</th>
                    <th>Date</th>
                    <th>Update Available Version</th>
                </thead>
                <tbody id="firmware-control-table">
                    <!-- <form method="POST"> -->
                        <% firmwareControl.map(function(firmware){ %>
                            <tr>
                                <td>
                                    <div><%- firmware.name %></div>
                                    <div class="lower-txt">Updated <%- firmware.updated_at[1]%> ago</div>
                                </td>
                                <td><%- firmware.num_spots %></td>
                                <td>
                                    <div><%- firmware.first_name %> <%= firmware.last_name %></div>
                                    <div class="lower-txt">on <%- firmware.updated_at[0] %></div>
                                </td>
                                <td>
                                    <div><%- firmware.created_at[0] %></div>
                                    <div class="lower-txt"><%- firmware.created_at[1] %></div>
                                </td>
                                <td>
                                    <div id="status-btn modal-trigger" class="col s6 center white-text">
                                        <a class="modal-trigger" href="#change_version_modal_lotID<%= firmware.lot_id %>">Update All</a>
                                        
                                    </div>
                                    <%- include('parkingLotUpdateCard.ejs', {firmware: firmware}) %>
                                </td>
                            </tr>
                        <%});%>
                    <!-- </form> -->
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Materialize Icon CSS  -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- External style sheet -->
<link rel="stylesheet" href="/stylesheets/firmware_control_info_card_style.css" type="text/css">
<!-- Font style sheet -->
<link href="https://fonts.googleapis.com/css?family=Mulish" rel="stylesheet">
<!-- Datatable CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<!-- Datatable JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $("#datatable").DataTable({
            "dom": '<"top">rt<"bottom"lip><"clear">',
            "searching": false,
            "pagingType": "simple",
            "bLengthChange": true,
            "pageLength": 50,
            "oLanguage": {
                    "sStripClasses": "",
                    "sSearch": "",
                    "sSearchPlaceholder": "Enter Keywords Here",
                    "sInfo": "_START_ -_END_ of _TOTAL_",
                    "sLengthMenu": '<span>Rows per page:</span><select class="browser-default">' +
                        '<option value="5">5</option>' +
                        '<option value="8">8</option>' +
                        '<option value="10">10</option>' +
                        '<option value="15">15</option>' +
                        '<option value="20">20</option>' +
                        '<option value="50">50</option>' +
                        '<option value="-1">All</option>' +
                        '</select></div>'
            },
            "language": {
                "paginate": {
                    "next": "<i id=\"next-btn\" class=\"material-icons grey-text\">keyboard_arrow_right</i>",
                    "previous": "<i id=\"prev-btn\" class=\"material-icons grey-text\">keyboard_arrow_left</i>"
                }
            }
        });
    });

    $('.change_lot_version_form').submit(function(e) {
        console.log("here", data);
        e.preventDefault();
        const form = $(this);
        var data = {};
        $.each(form.serializeArray(), function (i, field) {
            data[field.name] = field.value;
        });
        lodId = data.lotId;
        $.ajax({
            url: '/firmware/spots',
            type: 'PUT',
            data: data,
            success: function(res) {
                window.location.href = '/parking/lotID?lotId=' + res.lotId;
            },
            error: function(err) {
                const toastHTML = `<div style="top: auto !important; right: auto !important; bottom: 10%; left: 7%;">
                                    <span>${err.responseText}</span>
                                   </div>`;
                M.toast({html: toastHTML});
            }
        });
    })
</script>
